<!-- 


<div class="container pt-3">
	<div class="row mb-3">
		<div class="col">
			<app-carousel [images]="images"> </app-carousel>
		</div>

		<div class="col">
			<h1 class="ff-t">Bordados punto de cruz</h1>
			<p>
                Para elaborar nuestros diseños en punto de cruz existe una infinidad de modelos y colores que matizan la decoración de tu hogar, desde decoraciones más pequeñas hasta las más grandes y fantásticos. El bordado en punto de cruz ha existido por miles de años, desde la antigua Roma que utilizaba como material las plumas de las aves, todo una mezcla de implementos que lleva al bordado a  considerarse un sinónimo de adorno al  reafirmar el estilo de esa época y en la actualidad  lo hace cotizado a nivel nacional e internacional por su diseño y elaboración.
                <br>
                El bordado en punto de cruz posee particularidad ya que  al momento de realizar los modelos constan de esquemas y dibujos en multitud de tejidos que a través de una ardua selección de colores son representados de la mejor manera posible por nuestra diseñadora que sigue los còdigos sugeridos en la imagen para  mejorar la presentaciòn del producto.
            </p>
		</div>
	</div>

    <p>
        Existen tipos de bordados en  punto de cruz que están dentro de una matriz de cuadrados diseñados exclusivamente para ayudar a que el modelo  realce y haya una excelente presentación entre ellos tenemos rellenos de punto de cruz, puntada de cruz entera y puntada de tres cuartas de cruz. 
        <br>
        Los colores que se presentan en los moldes para este tipo de bordado pueden variar acorde al diseñador, por ende nuestra diseñadora para crear nuestros producto se basa en un esquema que proporciona elegancia, belleza y estilo.  
        <br>
        El  modelo es una parte fundamental  para saber que tipo de hilo y material se va a utilizar. El hilo es sustancial ya que  permite crear y modificar los diseños, elaborados con fibras naturales, por ende  es necesario que sea de  buena calidad especialmente cuando se trabaja en algodón y lana ya que es un proyecto donde la dedicación y material son necesarios para obtener buenos resultados.
        <br>
        Para elaborar nuestros productos nos encontramos con una diversidad de materiales como el aro de bordado que consiste en colocar la tela entre los bordes para que sea más tensa y empezar con el trabajo. Estos modelos vienen en plástico y madera, en ocasiones el tipo del aro varìa segùn la perspectiva y visualización del diseñador al momento de presentar el producto. 
        <br>
        Lilias bordados busca cambiar el estilo sencillo por el clásico  que a partir de los códigos empleados en los colores y modelo nuestra diseñadora  le da un toque único y especial.

    </p>
</div> -->