.container::-webkit-scrollbar {
  // height: 8px;
  display: none;
}  
.container::-webkit-scrollbar-track {
  background: hsla(0%, 90%, 90%, 1);
}
.container::-webkit-scrollbar-thumb {
  background: hsla(0%, 50%, 50%, 1);
}


.container{
  display: flex;
  border: 1px solid red;
  overflow-x: scroll;
}

.box{
  width: 10rem;
  height: 10rem;
  border: 1px solid red;
}
.box img{
  // width: 10rem;
  // height: 10rem;
  // border: 1px solid red;
}