<h2 class="ff-t pt-4">Trabajemos juntos</h2>
<p class="pb-4">
  Si estás buscando darle un toque personal y único a tus prendas y artículos
  textiles, ¡has venido al lugar correcto! puedo ayudarte a crear diseños únicos
  y personalizados que reflejen tu estilo y personalidad.
</p>

<div class="row">
  <!-- <div class="col-lg-5 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="form-header blue accent-1">
          <h3><i class="fas fa-envelope"></i> Write to us:</h3>
        </div>

        <p>We'll write rarely, but with only the best content.</p>
        <br />
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit($event)">
          <div class="md-form mb-3">
            <i class="fas fa-user prefix grey-text"></i>
            <label for="form-name" class="mb-1">Nombre:</label>
            <input
              type="text"
              name="name"
              formControlName="name"
              id="form-name"
              class="form-control"
            />
          </div>

          <div class="md-form mb-3">
            <i class="fas fa-envelope prefix grey-text"></i>
            <label for="form-email " class="mb-1">Correo:</label>
            <input
              type="email"
              name="email"
              formControlName="email"
              id="form-email"
              class="form-control"
            />
          </div>

          <div class="md-form mb-3">
            <i class="fas fa-tag prefix grey-text"></i>
            <label for="form-Subject " class="mb-1">Asunto:</label>
            <input
              type="text"
              name="subject"
              formControlName="subject"
              id="form-Subject"
              class="form-control"
            />
          </div>

          <div class="md-form mb-3">
            <i class="fas fa-pencil-alt prefix grey-text"></i>
            <label for="form-text " class="mb-1">Descripcion:</label>
            <textarea
              id="form-text"
              class="form-control md-textarea"
              rows="3"
              name="description"
              formControlName="description"
            ></textarea>
          </div>

          <div class="text-end mt-4">
            <button type="submit" class="btn btn-primary mb-1">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div> -->
  <div class="col">
    <h2 class="ff-t">Nuestras Redes Sociales</h2>
    <a
      href="https://wa.me/593992118720"
      target="_blank"
      rel="noopener noreferrer"
      class="btn btn-outline-success me-3"
    >
      <i class="bi bi-whatsapp me-3"></i>+593 99 211 8720
    </a>

    <a
      href="https://www.facebook.com/people/Lilias-Bordados/100077040942796/"
      target="_blank"
      rel="noopener noreferrer"
      class="btn btn-outline-primary"
    >
      <i class="bi bi-facebook me-3"> </i>Lilia's Bordados
    </a>

    <p class="my-3">
      <i class="bi bi-calendar me-3"></i>Lunes - Viernes, 8:00 - 20:00
    </p>
    <p class="my-3">
      <i class="bi bi-envelope me-3"></i>liliasbordados@gmail.com
    </p>
    <p class="my-3"><i class="bi bi-geo-alt me-3"> </i>Ambato - Ecuador</p>
  </div>
  <div class="col">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1350.484775413147!2d-78.58268730521353!3d-1.2543138159944243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sec!4v1678375961109!5m2!1sen!2sec"
      style="width: 100%; aspect-ratio: 16/9"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
<div class="p-3"></div>
