

<div class="container pt-3">
	<div class="row mb-3">
		<div class="col">
			<app-carousel [images]="images"> </app-carousel>
		</div>
	
		<div class="col">
			<h1 class="ff-t">Bordados a maquina</h1>
			<p>
				La elegancia y estilo plasmado en tu hogar, Lilia’s bordados te acompaña a entrar en el fascinante mundo del bordado donde encuentras desde adornos hasta decoraciones con características que te trasladan a un estilo clásico. 
                <br>
                El matiz de nuestros productos reflejan el arduo trabajo de nuestra diseñadora, que a partir de modelos especializados en el arte del bordado nos brindan una gama de colores que resalta la decoración y la hace única en el mercado. Para obtener estos resultados nuestros productos son elaborados de acuerdo a los colores y estilos que favorecen el entorno natural y estético.

			</p>
		</div>
	</div>
	
	<p>
		Un modelo de bordado exige dedicación por eso es necesario antes de realizar el diseño hacer una  prueba al material con la finalidad de cerciorarse que esté en óptimas condiciones con respecto a su color, textura y durabilidad. <br>
		Entre los hilos más frecuentes para elaborar nuestras creaciones tenemos el hilo de mauline que nos puede brindar varios efectos según el número de hebras y colores que existen. <br>
		Tenemos diferentes estilos de bordado. El bordado con cinta de seda es una técnica milenaria que se puede utilizar para añadir adornos a cualquier número de prendas modernas y elementos de decoración: vestidos de noche, lencería y cojines de tiro, sólo para nombrar algunas posibilidades. Es genial para el vestuario histórico, también. Le agrega el encanto femenino a la ropa. <br>
		Para la creación de nuestros diseños utilizamos telas de alta calidad que son AIDA y PANAMINA.. <br>
		La tela Aida se caracteriza  por que es 100% algodón lo que garantiza la calidad de nuestros productos ya que le da durabilidad y el diseño se define de una mejor manera. <br>
		Para un estilo clásico y sofisticado utilizamos Panamina ya que este tipo de tela nos permite hacer una serie de modificaciones que realzan la belleza de nuestros bordados. <br>
		Los productos que te ofrece lilias Bordados están dentro de los estándares deseados ofrecemos una infinidad de objetos que al adquirirlos complementan tu hogar de una manera divertida y sotisficada, a partir de la habilidad de nuestra diseñadora garantizamos que el producto que adquieras marca un antes y después.  <br>
		Los bordados encajan a la perfección en todo tipo de objetos desde blusas, camisetas, adornos para tu hogar etc.  Disfruta con nosotros y entra al mundo del bordado. 

	</p>
</div>