<div class="row justify-content-center mb-5">
    <div class="col-6 shadow-sm">
        <h1 class="ff-t d-none" > Lilia's Bordados </h1>
        <img src="https://unsplash.com/photos/E7zsz8JA8FM/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjQ0NTQ1NDc5&force=true&w=640" alt="fondo de corazon"
            class="card-img aspect-ratio-3">
            <p class="text-center">
                Lilia’s Bordados nace con la idea de <br>
                <span class="fs-3 ff-t"> recordar momentos </span> <br>
                ùnicos <br>
                <span class="fs-3 ff-t"> familiares </span> <br>
                con bordados que estén presentes en tu hogar. 
            </p>
    </div>
</div>

<div class="row justify-content-center mb-5">
    <div class="col-6 shadow-sm" >
        <img src="" alt="foto de la duena"
        class="card-img aspect-ratio-3">
        <p>
            Nuestra diseñadora tiene mas de 15 años de experiencia en la creación de estos productos.
            Lilia’s bordados te ofrece productos elaborados con las mejores telas de algodón y otras fibras naturales, esta màgica tradiciòn es familiar por eso te invitamos a que conozcas todas nuestras redes sociales.
        </p>
    </div>
</div>