<div class="text-center">
  <p>
    <span class="fs-3 ff-t"> Lilia's Bordados </span> nace con la idea de
    <span class="fs-3 ff-t"> recordar momentos </span> ùnicos <br />
    <span class="fs-3 ff-t"> familiares </span> con bordados que estén presentes
    en tu hogar.
  </p>
</div>

<div
  class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
  style="
    background-image: url('https://unsplash.com/photos/E7zsz8JA8FM/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjQ0NTQ1NDc5&force=true&w=640');
  "
>
  <div
    class="d-flex flex-column h-100 px-4 pt-5 pb-3 text-white text-shadow-1 position-relative"
  >
    <ul class="fs-4">
      <li class="mb-3">
        Soy una persona apasionada por el arte del bordado, con más de 20 años
        de experiencia en la industria. Desde una edad temprana, descubrí mi
        amor por el bordado y rápidamente me di cuenta de que tenía un talento
        natural para crear diseños intrincados y detallados.
      </li>

      <li class="mb-3">
        A lo largo de los años, he perfeccionado mi técnica y he explorado una
        amplia variedad de estilos de bordado, desde el bordado a mano hasta el
        bordado a máquina y la digitalización de diseños. Me enorgullece decir
        que he creado diseños de bordado únicos y personalizados para una
        variedad de clientes, desde individuos hasta pequeñas empresas y grandes
        corporaciones.
      </li>

      <li class="mb-3">
        Mi enfoque en el bordado siempre ha sido la calidad y la atención al
        detalle. Me aseguro de que cada puntada sea perfecta y que cada diseño
        refleje la visión del cliente de manera precisa y creativa. También me
        gusta trabajar con mis clientes en cada paso del proceso, desde la
        conceptualización del diseño hasta la selección de los hilos y las
        telas.
      </li>

      <li class="mb-3">
        Para mí, el bordado es más que un simple pasatiempo o trabajo, es una
        forma de arte que me permite expresar mi creatividad y ayudar a los
        demás a hacer lo mismo. Estoy emocionado de seguir explorando nuevas
        técnicas y diseños de bordado mientras continúo compartiendo mi pasión
        con otros.
      </li>
    </ul>
  </div>
</div>
