<div class="row justify-content-center">
    <div class="col-6 shadow-sm">
        <h1 class="ff-t">Sobre Lilia's Bordados </h1>
        <img src="https://unsplash.com/photos/E7zsz8JA8FM/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjQ0NTQ1NDc5&force=true&w=640" alt="fondo de corazon"
            class="aspect-ratio-4">
        <p>
            <strong class="h3 ff-t"> Misiòn: </strong> 
            Elaborar productos de buena calidad competitivos en el mercado. 
            <strong class="h3 ff-t"> Visiòn: </strong> 
            Llegar a mercados nacional  con miras a lo internacional ofreciendo una variedad de productos que sean acorde a la necesidad del cliente. 
        </p>
    </div>
</div>

<hr>

<div class="row justify-content-center">
    <div class="col-6 shadow-sm" >
        <img src="" alt="foto de la duena"
        class="aspect-ratio-4">
        <p>
            Lilia’s Bordados nace con la idea de dar a conocer productos de calidad bordados que estén presente en tu hogar para recordar momentos ùnicos y especiales para ti y toda tu familia. Nuestra diseñadora tiene mas de 15 años de experiencia en la creación de estos productos.
            Lilia’s bordados te ofrece productos elaborados con las mejores telas de algodón y otras fibras naturales, esta màgica tradiciòn es familiar por eso te invitamos a que conozcas nuestra página y todas nuestras redes sociales.
        </p>
    </div>
</div>