<!-- <div class="container pt-3">
  <div class="row mb-3">
    <div class="col">
      <app-carousel [images]="images"> </app-carousel>
    </div>

    <div class="col">
      <h1 class="ff-t">Bordados a maquina</h1>
      <p>
				Este Bordado le da realce, belleza y originalidad a tu estilo, gracias a la gran trayectoria de nuestra diseñadora tenemos  bordados cuya característica es la calidad de la tela, las puntadas precisas y correcta combinación de colores que  realzan la belleza de tu hogar.
				<br>
				Nuestros productos son elaborados de acuerdo a los colores y estilos que favorecen el entorno natural y estético. Este tipo de bordado refleja el arduo trabajo de nuestra diseñadora, que a partir de sus modelos brinda decoraciones únicas en el mercado. 
			</p>
    </div>
  </div>

	<div class="row">
		<div class="col">
			<p>
				La máquina que se utiliza para crear nuestros diseños es de pèdal que  le da un alto estándar y permite  crear bordados con personalización y mayor durabilidad. Para crear este bordado es necesario imaginación  y desafío de entregar un nuevo modelo que se afine con la personalidad y elegancia de cada uno de nuestros clientes.
			</p>
		</div>
		<div class="col">
			<p>
				Para elaborar nuestros diseños clàsicos utilizamos el hilo de algodón que es resistente se puede lavar a altas temperaturas y plancharlo de forma profesional. Los hilos para bordar a máquina son más finos que los utilizados para bordar a mano y son de tipo  liso, metalizado, poliéster, nylon y algodón, cada uno de estos materiales tiene un uso determinado.
			</p>
		</div>
	</div>
</div>

<!-- Este Bordado le da realce, belleza y originalidad a tu estilo, gracias a la gran trayectoria de nuestra diseñadora tenemos  bordados cuya característica es la calidad de la tela, las puntadas precisas y correcta combinación de colores que  realzan la belleza de tu hogar.
Subtema 
Primer párrafo 
Nuestros productos son elaborados de acuerdo a los colores y estilos que favorecen el entorno natural y estético. Este tipo de bordado refleja el arduo trabajo de nuestra diseñadora, que a partir de sus modelos brinda decoraciones únicas en el mercado. 
Segundo párrafo 
La máquina que se utiliza para crear nuestros diseños es de pèdal que  le da un alto estándar y permite  crear bordados con personalización y mayor durabilidad. Para crear este bordado es necesario imaginación  y desafío de entregar un nuevo modelo que se afine con la personalidad y elegancia de cada uno de nuestros clientes.
Tercer pàrrafo
Para elaborar nuestros diseños clàsicos utilizamos el hilo de algodón que es resistente se puede lavar a altas temperaturas y plancharlo de forma profesional. Los hilos para bordar a máquina son más finos que los utilizados para bordar a mano y son de tipo  liso, metalizado, poliéster, nylon y algodón, cada uno de estos materiales tiene un uso determinado.
Cuarto párrafo 
Existe una variedad de relieves que encajan a la perfección con el bordado de máquina y se clasifica en liso, realce y sobrepuesto  El bordado se puede emplear en diferentes objetos y se caracterizan porque  poseen mayor volumen, relieve y por los puntos trazados en el diseño. 

Quinto pàrrafo 
El modelo siempre es escogido por nuestra diseñadora que a base de su experiencia indica el color y la forma del diseño creando algunas alternativas para determinar la durabilidad y a su vez qué tipo de hilo le va a dar un mejor realce al modelo. 
Para obtener más información acerca del diseño de nuestros bordados te invitamos a que visites nuestras redes sociales  --> -->
