.bg-img{
  background-image: url('https://unsplash.com/photos/zA7I5BtFbvw/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjQ1MzY1ODcw&force=true&w=640');
  background-repeat: no-repeat;
  background-size: cover;
}