<!-- <div class="container pt-3">
  <div class="row mb-3">
    <div class="col">
      <app-carousel [images]="images"> </app-carousel>
    </div>

    <div class="col">
      <h1 class="ff-t">Bordados a mano</h1>
      <p>
        Esta técnica artística representa una expresión cultural, para elaborar
        estos diseños seleccionamos modelos creados con diferentes tipos de
        hilos y telas con una viva gama de colores que dan una mejor viscosidad
        a la creación y resaltan la belleza del diseño.
        <br />
        Al adquirir bordados a mano complementamos un estilo clásico y con mucha
        distinción para tu hogar. Además si obsequias este bordado la persona
        recibe un momento único pues el diseño es personalizado y a partir de la
        técnica de elaboración te garantiza su calidad.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        Bajo el concepto de expresión artística los bordados se crean con una
        variedad de diseños Los hilos son el alma del bordado ya que al
        combinarlos nos permite crear diferentes formas, texturas y colores, sin
        maltratar la estética y elegancia del bordado. Lo más frecuente para
        elaborarlos son el algodón, lana, seda y el lino entre otros de alta
        gama que constituyen la base de todos los bordados clásicos.
      </p>
    </div>
    <div class="col">
      El bordado exige dedicación por eso es necesario hacer una prueba al
      material con la finalidad de cerciorarse que esté en óptimas condiciones
      con respecto a su color, textura y durabilidad. Tenemos diferentes estilos
      de bordado. El bordado con cinta de seda es una técnica milenaria que se
      puede utilizar para añadir adornos a cualquier número de prendas modernas
      y elementos de decoración: vestidos de noche, lencería y cojines de tiro,
      sólo para nombrar algunas posibilidades. Es genial para el vestuario
      histórico, también. Le agrega el encanto femenino a la ropa Para la
      creación de nuestros diseños utilizamos telas de alta calidad que son AIDA
      y PANAMINA.. La tela Aida se caracteriza por que es 100% algodón lo que
      garantiza la calidad de nuestros productos ya que le da durabilidad y el
      diseño se define de una mejor manera. Para un estilo clásico y sofisticado
      utilizamos Panamina ya que este tipo de tela nos permite hacer una serie
      de modificaciones que realzan la belleza de nuestros bordados. Los
      productos que te ofrece lilias Bordados están dentro de los estándares
      deseados ofrecemos una infinidad de bordados que al adquirirlos
      complementan tu estilo de una manera divertida y sotisficada, a partir de
      la habilidad de nuestra diseñadora garantizamos que el producto que
      adquieras marca un antes y después. Los bordados encajan a la perfección
      en todo tipo de objetos desde blusas, camisetas, adornos para tu hogar,
      etc. Disfruta con nosotros y entra al mundo del bordado.
    </div>
  </div>
</div> -->
