<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
  <div class="col d-flex flex-column align-items-start gap-2">
    <h3 class="fw-bold">Corte y confeción</h3>
    <p class="text-muted">
      Creación de prendas desde cero, utilizando patrones y telas específicas
      para crear una prenda única y personalizada. Toma de medidas, Diseño de
      prendas, selección de telas y patrones, el corte y la costura de la
      prenda.
    </p>
    <a href="#" class="btn btn-primary btn-lg">Formulario para los detalles</a>
  </div>

  <div class="col">
    <div class="row row-cols-1 row-cols-sm-2 g-4">
      <div
        *ngFor="let service of services"
        class="col d-flex flex-column gap-2"
      >
        <div
          class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
        >
          <i [class]="service.icon"></i>
        </div>
        <h4 class="fw-semibold mb-0">{{ service.title }}</h4>
        <p class="text-muted">
          {{ service.description }}
        </p>
      </div>
    </div>
  </div>
</div>
