<section class="mb-4">
	<div class="card bg-dark text-white">
		<img src="https://unsplash.com/photos/Rdb--yAPMyI/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MjR8fGVtYnJvaWRlcnl8ZW58MHx8fHwxNjQzNDY3NTQ2&force=true&w=640"
		class="card-img aspect-ratio-16" alt="todo" >
		<div class="card-img-overlay d-flex align-items-center justify-content-center">
			<h1 class="card-title">Lilia's Bordados</h1>
			<!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
		</div>
	</div>
</section>

<p >Todos nuestros productos son únicos, hechos a mano, a tu medida.
</p>

<section class="mb-4 px-5">
	<div class="row justify-content-evenly align-items-center">
		<div class="col-3" *ngFor="let item of list">
			<app-card [src]="item.src" [alt]='item.alt' [title]='item.title' [description]='item.description' ></app-card>
		</div>
	</div>
</section>


<section class="mb-4 px-4">
	<app-card-img-lr *ngFor="let item of cardlrlist"
	[src]="item.src" [alt]='item.alt' [title]='item.title' [description]='item.description' [imgPosition]='item.imgPosition'></app-card-img-lr>
</section>