<section class="mb-5">
  <div class="card bg-dark text-white">
    <img
      src="https://unsplash.com/photos/Rdb--yAPMyI/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MjR8fGVtYnJvaWRlcnl8ZW58MHx8fHwxNjQzNDY3NTQ2&force=true&w=640"
      class="card-img opacity-50 aspect-ratio-16 "
      alt="todo"
    />
    <div
      class="card-img-overlay d-flex align-items-center justify-content-center"
    >
      <img src="../../../assets/img/logo.png" alt="logo lilias bordados" />
      <h1 class="card-title ff-t" hidden>Lilia's Bordados</h1>
      <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
    </div>
  </div>
</section>

<div class="container">
  <div class="text-center mb-5">
    <h2 class="ff-t">
      Todos nuestros productos son únicos, hechos a mano, a tu medida.
    </h2>
  </div>
  <section class="mb-5">
    <div class="row row-cols-1 row-col-md-3 justify-content-evenly">
      <div class="col" *ngFor="let item of list">
        <app-card
          [src]="item.src"
          [alt]="item.alt"
          [title]="item.title"
          [description]="item.description"
        ></app-card>
      </div>
    </div>
  </section>
  <section class="mb-4 ">
    <app-card-img-lr
      *ngFor="let item of cardlrlist"
      [src]="item.src"
      [alt]="item.alt"
      [title]="item.title"
      [description]="item.description"
      [imgPosition]="item.imgPosition"
    ></app-card-img-lr>
  </section>
</div>
