<p>bordadosamano works!</p>


<div class="container">
	<div class="row">
		<div class="col">
			<app-carousel> </app-carousel>
		</div>
	
		<div class="col">
			<h1 class="ff-t">Bordados a mano</h1>
			<p>
				La creatividad, perseverancia y entusiasmo se reflejan en los bordados a mano que te ofrece lilias bordados te invito a que conozcas nuestros productos y disfrutes de una infinidad de modelos  que te presentamos, estos son elaborados a base de mouline.
				Bajo el concepto de expresión artística de nuestra diseñadora los bordados se crean con una variedad de diseños  Los hilos son el alma del bordado ya que nos permite crear diferentes formas, texturas y colores al momento de combinarlos y conseguir el modelo deseado, sin maltratar la estètica y elegancia del bordado por ende existe una infinidad para crear nuestros productos. Lo más frecuente para elaborarlos son el algodón, lana, seda y el lino entre otros de alta gama que constituyen la base de todos los bordados clásicos. 
	
			</p>
		</div>
	</div>
	
	<p>
		Un modelo de bordado exige dedicación por eso es necesario antes de realizar el diseño hacer una  prueba al material con la finalidad de cerciorarse que esté en óptimas condiciones con respecto a su color, textura y durabilidad. 
		Entre los hilos más frecuentes para elaborar nuestras creaciones tenemos el hilo de mauline que nos puede brindar varios efectos según el número de hebras y colores que existen.
		Tenemos diferentes estilos de bordado. El bordado con cinta de seda es una técnica milenaria que se puede utilizar para añadir adornos a cualquier número de prendas modernas y elementos de decoración: vestidos de noche, lencería y cojines de tiro, sólo para nombrar algunas posibilidades. Es genial para el vestuario histórico, también. Le agrega el encanto femenino a la ropa
		Para la creación de nuestros diseños utilizamos telas de alta calidad que son AIDA y PANAMINA.. 
		La tela Aida se caracteriza  por que es 100% algodón lo que garantiza la calidad de nuestros productos ya que le da durabilidad y el diseño se define de una mejor manera.
		Para un estilo clásico y sofisticado utilizamos Panamina ya que este tipo de tela nos permite hacer una serie de modificaciones que realzan la belleza de nuestros bordados.
		Los productos que te ofrece lilias Bordados están dentro de los estándares deseados ofrecemos una infinidad de objetos que al adquirirlos complementan tu hogar de una manera divertida y sotisficada, a partir de la habilidad de nuestra diseñadora garantizamos que el producto que adquieras marca un antes y después. 
		Los bordados encajan a la perfección en todo tipo de objetos desde blusas, camisetas, adornos para tu hogar etc.  Disfruta con nosotros y entra al mundo del bordado. 

	</p>
</div>