<div class="container pt-3">
  <div class="row mb-3">
    <div class="col">
      <app-carousel [images]="images"> </app-carousel>
    </div>

    <div class="col">
      <h1 class="ff-t">Bordados a mano</h1>
      <p>
        El bordado a mano es una técnica artística que representa una expreciòn
        cultural, para elaborar estos diseños se realiza una selección de
        modelos, estos son creados con diferentes tipos de hilos y telas
        utilizados para darle una mejor viscosidad a la creación y al emplear
        una viva gama de colores resalta la belleza del diseño.<br />
      </p>
    </div>
  </div>

  <p>
    Al adquirir bordados a mano complementamos un estilo clásico y con mucha
    distinción para tu hogar. Además si obsequias este bordado la persona recibe
    un momento único pues el diseño es personalizado y a partir de la técnica de
    elaboración te garantiza su calidad
  </p>
</div>
