/* You can add global styles to this file, and also import other style files */
$color-primary: #b9157e;
$font-primary: 'Poppins', sans-serif;
$font-titles: 'Roboto Slab', serif;


body {
    background-color: rgba($color-primary, .1);
    font-family: $font-primary;
}

.aspect-ratio-16{
    aspect-ratio: 16/9;
    object-fit: cover;
}

.aspect-ratio-4{
    aspect-ratio: 4/3;
    object-fit: cover;
}

.aspect-ratio-9{
    aspect-ratio: 9/16;
    object-fit: cover;
}

.aspect-ratio-3{
    aspect-ratio: 3/4;
    object-fit: cover;
}

.aspect-ratio-1{
    aspect-ratio: 1;
    object-fit: cover;
}

.ff-t {
    font-family: $font-titles;
    color: $color-primary;
}