/* You can add global styles to this file, and also import other style files */
// #region variables

$color-primary: #b9157e;
$font-primary: 'Poppins', sans-serif;
$font-titles: 'Roboto Slab', serif;

// #endregion variables


body {
    background-color: rgba($color-primary, .1);
    font-family: $font-primary;
}

// #region scrollbar 
// mozilla
* {
    scrollbar-width: .5rem;
    scrollbar-color: rgba($color-primary, .5) rgba($color-primary, .1);
}
//   crome, edge, etc
*::-webkit-scrollbar {
    width: .5em;
}

*::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba($color-primary, .1);
}

*::-webkit-scrollbar-thumb {
background-color: rgba($color-primary, .5);
outline: 1px solid rgba($color-primary, .2);
}
// #endregion scrollbar 

// #region clases
.aspect-ratio-16{
    aspect-ratio: 16/9;
    object-fit: cover;
}

.aspect-ratio-4{
    aspect-ratio: 4/3;
    object-fit: cover;
}

.aspect-ratio-9{
    aspect-ratio: 9/16;
    object-fit: cover;
}

.aspect-ratio-3{
    aspect-ratio: 3/4;
    object-fit: cover;
}

.aspect-ratio-1{
    aspect-ratio: 1;
    object-fit: cover;
}

.ff-t {
    font-family: $font-titles;
    color: $color-primary;
}
// #endregion clases
