<p>footer works!</p>

<div class="row">
	<div class="col-2">
		<h2> Productos </h2>
		<ul class="list-group">
			<li class="list-item">
				<a class="text-decoration-none" [routerLink]="[ '/bordadoamano' ]"> Bordados a mano </a>
			</li>
			<li>
				<a class="text-decoration-none" [routerLink]="[ '/bordadoamaquina' ]"> Bordados a maquina </a>
			</li>
			<li>
				<a class="text-decoration-none" [routerLink]="[ '/bordadopuntodecruz' ]"> Bordados punto de cruz </a>
			</li>
		</ul>
	</div>
	<div class="col-2">
		<h2> Productos </h2>
		<ul>
			<li>
				<a class="text-decoration-none" [routerLink]="[ '/bordadoamano' ]"> Bordados a mano </a>
			</li>
			<li>
				<a class="text-decoration-none" [routerLink]="[ '/bordadoamaquina' ]"> Bordados a maquina </a>
			</li>
			<li>
				<a class="text-decoration-none" [routerLink]="[ '/bordadopuntodecruz' ]"> Bordados punto de cruz </a>
			</li>
		</ul>
	</div>
	<div class="col-2">
		<h2> Productos </h2>
		<ul>
			<li>
				<a class="text-decoration-none" [routerLink]="[ '/bordadoamano' ]"> Bordados a mano </a>
			</li>
			<li>
				<a class="text-decoration-none" [routerLink]="[ '/bordadoamaquina' ]"> Bordados a maquina </a>
			</li>
			<li>
				<a class="text-decoration-none" [routerLink]="[ '/bordadopuntodecruz' ]"> Bordados punto de cruz </a>
			</li>
		</ul>
	</div>
	<div class="col-6 p-4">
		<p class="h3"> Subscribe to our newsletter </p>
		<p class=""> Subscribe to our newsletter </p>
		<div class="form-floating mb-3">
			<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
			<label for="floatingInput">Email address</label>
			<button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
		</div>

		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
			<button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
		</div>

	</div>
	<div class="row ">
		<div class="col">
			© 2021 Company, Inc. All rights reserved.
		</div>
		<div class="col float-end">
			<i class="me-3 fa fa-whatsapp" aria-hidden="true"> whatsapp </i>
			<i class="me-3 fa fa-facebook-official" aria-hidden="true"> facebook </i>
			<i class="me-3 fa fa-instagram" aria-hidden="true"> instagram </i>
		</div>
	</div>
</div>