
<hr>
<div class="px-3 bg-soft-dark">
	<div class="row ms-3">
		<div class="col-2 px-3">
			<h2 class="h4"> Productos </h2>
			<ul class="list-group">
				<li class="list-item">
					<a class="text-decoration-none" [routerLink]="[ '/bordadoamano' ]"> Bordados a mano </a>
				</li>
				<li>
					<a class="text-decoration-none" [routerLink]="[ '/bordadoamaquina' ]"> Bordados a maquina </a>
				</li>
				<li>
					<a class="text-decoration-none" [routerLink]="[ '/bordadopuntodecruz' ]"> Bordados punto de cruz </a>
				</li>
			</ul>
		</div>
		<div class="col-2 px-3">
			<h2 class="h4"> Productos </h2>
			<ul class="list-group">
				<li>
					<a class="text-decoration-none" [routerLink]="[ '/bordadoamano' ]"> Bordados a mano </a>
				</li>
				<li>
					<a class="text-decoration-none" [routerLink]="[ '/bordadoamaquina' ]"> Bordados a maquina </a>
				</li>
				<li>
					<a class="text-decoration-none" [routerLink]="[ '/bordadopuntodecruz' ]"> Bordados punto de cruz </a>
				</li>
			</ul>
		</div>
		<div class="col-2 px-3">
			<h2 class="h4"> Productos </h2>
			<ul class="list-group">
				<li>
					<a class="text-decoration-none" [routerLink]="[ '/bordadoamano' ]"> Bordados a mano </a>
				</li>
				<li>
					<a class="text-decoration-none" [routerLink]="[ '/bordadoamaquina' ]"> Bordados a maquina </a>
				</li>
				<li>
					<a class="text-decoration-none" [routerLink]="[ '/bordadopuntodecruz' ]"> Bordados punto de cruz </a>
				</li>
			</ul>
		</div>
		<div class="col-6 px-4">
			<p class="h4"> Subscribe to our newsletter </p>
			<p class=""> Subscribe to our newsletter </p>

			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="name@example.com" aria-label="name@example.com" aria-describedby="button-addon2">
				<button class="btn btn-outline-secondary" type="button" id="button-addon2">Enviar</button>
			</div>

		</div>
	</div>

	<div class="row px-3 mb-3">
		<div class="col">
			© 2021 Company, Inc. All rights reserved.
		</div>
		<div class="col text-end">
			<i class="h3 me-3 bi bi-whatsapp text-success" aria-hidden="true"> </i>
			<i class="h3 me-3 bi bi-facebook text-primary" aria-hidden="true"> </i>
			<i class="h3 me-3 bi bi-instagram " aria-hidden="true"> </i>
		</div>
	</div>
</div>